.head{
    margin-top: 0;
    text-align: center;
    font-size :3em;
    text-align: center;
    height: 5em;
    color: white;
    font: times, serif;
    background-color: #2b638b;
    height: auto;
}

.filters{
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
    height: auto;
    background-color: #edbb34;
}

<<<<<<< HEAD
.filter1{
    font-family: verdana, sans-serif;
    width:200px;
  }

.filter2{
  font-family: verdana, sans-serif;
  width:200px;
}

#rad{
    width:200px;
}

input, label{
  padding-left: 3em;
}

=======
.filter1, .filter2{
  font-family: verdana, sans-serif;
}

input, label{
  padding-left: 3em;
}

>>>>>>> 784837308ee68f19c2d16df7f6c6fb57ceb3be9f
.buttons{
    background-color: #77995b;
    color: white;
    font: verdana, sans-serif;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    font-size: 100%;
}

.button1{
  background-position: left;
  overflow: visible;
  margin: 2em;
  width: auto;
  border-radius: 1em;
  display: inline-block;
  line-height: 2em;
  padding: 0 4em;
}

.button2{
  background-position: right;
  overflow: visible;
  margin: 2em;
  width: auto;
  border-radius: 1em;
  display: inline-block;
  line-height: 2em;
  padding: 0 4em;
}

.map{
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 70%;
    height: auto;
}

.list{
    margin: 0 auto 0 auto;
    padding:2em;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    background-color: #edbb34;
    height: 9em;
}

#parkimage{
    max-width: 50%;
    margin-top: auto;
}

#image{
    float: left;
    width: 30%;
    text-align: center;
  }

#text{
    float: right;
    width: 70%;
    text-align: left;
  }

  *{
    padding: 0;
    margin: 0;
<<<<<<< HEAD
  }

.multiselect1{
    width:200px;
}

.selectBox1{
    position: relative;
}

.selectBox1 select {
    width: 100%;
}

.overSelect1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #checkboxes1 {
    display: none;
    border: 1px #dadada solid;
    background-color:white;
  }

  #checkboxes1 label {
    display: block;
    font-weight: normal;
    font-size:15px;
  }

  #checkboxes1 label:hover {
    background-color: #1e90ff;
  }

  .multiselect2{
    width:200px;
}

.selectBox2{
    position: relative;
}

.selectBox2 select {
    width: 100%;
}

.overSelect2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #checkboxes2 {
    display: none;
    border: 1px #dadada solid;
    background-color:white;
  }

  #checkboxes2 label {
    display: block;
    font-weight: normal;
    font-size:15px;
    font-family: sans-serif;
  }

  #checkboxes2 label:hover {
    background-color: #1e90ff;
  }
=======
  }
>>>>>>> 784837308ee68f19c2d16df7f6c6fb57ceb3be9f
