.filter1{
  font-family: verdana, sans-serif;
  width:90%;
  margin: 0 auto 0 auto;
  text-align: center;
}

#help{
  width:1%;
  height:auto;
  cursor:pointer;
  font-size:0.5em;
  color:#edbb34;
  font-weight:bold;
  vertical-align: middle;
  text-transform: uppercase;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-weight: normal;
  border-radius: 20px;
  text-transform: capitalize;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#rad{
  width:100%;
  height: 30px;
  font-size: 0.75em;
  text-align:center;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

input{
  width:100%;
  font-size: 0.75em;
  text-align:center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input[type="text"]:focus {
  background-color: #fff;
}

label{
  font-size:1em;
}

.buttons{
  font: verdana, sans-serif;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 100%;
}

.button1{
  background-color: #35954F;
  color: white;
  background-position: left;
  overflow: visible;
  font-size: 1.5em;
  margin: 0.5em;
  width: auto;
  border-radius: 1em;
  display: inline-block;
  line-height: 2em;
  padding: 0 2em;
  cursor: pointer;
}

.button2{
  background-color: #9D4040;
  color: white;
  background-position: right;
  overflow: visible;
  font-size: 1.5em;
  margin: 0.5em;
  width: auto;
  border-radius: 1em;
  display: inline-block;
  line-height: 2em;
  padding: 0 2em;
  cursor: pointer;
}
